<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>160</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2013-07-10T12:28:04Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>131</real>
		<key>mainWindowFrame</key>
		<string>6 101 1172 748 0 0 1440 878 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>440</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>4.3.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>oidCounter</key>
	<integer>7</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-07-10T10:49:52Z</date>
			<key>fileSize</key>
			<integer>1053</integer>
			<key>md5</key>
			<string>DFBFD609D40FEE8E5B67E7E5E296865E</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/veronicaleon/Dropbox/Fall Protection/Fall Restraint/background.png</string>
			<key>resourceName</key>
			<string>background.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9vawQDAAAAAAQQMAAAAPT+cMvE5MUsXnZfV44y/X7IiO7hqvp8
			PES+7Z2DZo4XDAIAAAUAAAABAQAAVXNlcnMAAAAMAAAAAQEAAHZl
			cm9uaWNhbGVvbgcAAAABAQAARHJvcGJveAAPAAAAAQEAAEZhbGwg
			UHJvdGVjdGlvbgAOAAAAAQEAAEZhbGwgUmVzdHJhaW50AAAOAAAA
			AQEAAGJhY2tncm91bmQucG5nAAAYAAAAAQYAAAQAAAAUAAAAKAAA
			ADgAAABQAAAAaAAAAAgAAAAEAwAAoJgAAAAAAAAIAAAABAMAAHx7
			CAAAAAAACAAAAAQDAABs44UAAAAAAAgAAAAEAwAAjSg4BQAAAAAI
			AAAABAMAAMiHOAUAAAAACAAAAAQDAAClVz4FAAAAABgAAAABBgAA
			oAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBt41z0AAA
			ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
			AAAEAAAAAAAAAAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3No
			IEhECAAAAAQDAAAAgIE9dAAAAAgAAAAABAAAQbNyBiQAAAAkAAAA
			AQEAADFBNzU5QzY5LUYyMzItM0ExQS05QUMzLTRGQURDMTY2QjRE
			RhgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEB
			AAAvAAAAAAAAAAEFAAAEAAAAAwMAAAAJACjAAAAA/v///wEAAAAA
			AAAADwAAAAQQAACAAAAAAAAAAAUQAAAAAQAAAAAAABAQAAAwAQAA
			AAAAAEAQAAAgAQAAAAAAAAIgAADsAQAAAAAAABAgAABsAQAAAAAA
			ABEgAACgAQAAAAAAABIgAACAAQAAAAAAABMgAACQAQAAAAAAACAg
			AADMAQAAAAAAADAgAAD4AQAAAAAAAAHAAABQAQAAAAAAABHAAAAU
			AAAAAAAAABLAAABgAQAAAAAAABDQAAAAAgAAAAAAAA==
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-07-10T11:46:25Z</date>
			<key>fileSize</key>
			<integer>2602</integer>
			<key>md5</key>
			<string>D7566DA1036C63DA7BA822932FE7C304</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/veronicaleon/Dropbox/Fall Protection/Fall Restraint/salute.png</string>
			<key>resourceName</key>
			<string>salute.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9vawADAAAAAAQQMAAAAJDSTFy4NDiTC7/m6AEqY8ozvedsrIes
			wbtiDapDMAFkCAIAAAUAAAABAQAAVXNlcnMAAAAMAAAAAQEAAHZl
			cm9uaWNhbGVvbgcAAAABAQAARHJvcGJveAAPAAAAAQEAAEZhbGwg
			UHJvdGVjdGlvbgAOAAAAAQEAAEZhbGwgUmVzdHJhaW50AAAKAAAA
			AQEAAHNhbHV0ZS5wbmcAABgAAAABBgAABAAAABQAAAAoAAAAOAAA
			AFAAAABoAAAACAAAAAQDAACgmAAAAAAAAAgAAAAEAwAAfHsIAAAA
			AAAIAAAABAMAAGzjhQAAAAAACAAAAAQDAACNKDgFAAAAAAgAAAAE
			AwAAyIc4BQAAAAAIAAAABAMAAKpyPgUAAAAAGAAAAAEGAACcAAAA
			rAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEG3jYERAAAAGAAA
			AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQA
			AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQI
			AAAABAMAAACAgT10AAAACAAAAAAEAABBs3IGJAAAACQAAAABAQAA
			MUE3NTlDNjktRjIzMi0zQTFBLTlBQzMtNEZBREMxNjZCNERGGAAA
			AAECAACBAAAAAQAIAO8/AAABAAgAAAAAAAAAAAABAAAAAQEAAC8A
			AAAAAAAAAQUAAAQAAAADAwAAAAkAKMAAAAD+////AQAAAAAAAAAP
			AAAABBAAAHwAAAAAAAAABRAAAPwAAAAAAAAAEBAAACwBAAAAAAAA
			QBAAABwBAAAAAAAAAiAAAOgBAAAAAAAAECAAAGgBAAAAAAAAESAA
			AJwBAAAAAAAAEiAAAHwBAAAAAAAAEyAAAIwBAAAAAAAAICAAAMgB
			AAAAAAAAMCAAAPQBAAAAAAAAAcAAAEwBAAAAAAAAEcAAABQAAAAA
			AAAAEsAAAFwBAAAAAAAAENAAAPwBAAAAAAAA
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-07-10T11:47:25Z</date>
			<key>fileSize</key>
			<integer>2489</integer>
			<key>md5</key>
			<string>4A42F38657615D1CCF25CFE0FAB6C252</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/veronicaleon/Dropbox/Fall Protection/Fall Restraint/right1.png</string>
			<key>resourceName</key>
			<string>right1.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9vawADAAAAAAQQMAAAAIT57URZP8JkFqnHaM6fE5pSmEUDQNy9
			KJg9lcNPd9mhCAIAAAUAAAABAQAAVXNlcnMAAAAMAAAAAQEAAHZl
			cm9uaWNhbGVvbgcAAAABAQAARHJvcGJveAAPAAAAAQEAAEZhbGwg
			UHJvdGVjdGlvbgAOAAAAAQEAAEZhbGwgUmVzdHJhaW50AAAKAAAA
			AQEAAHJpZ2h0MS5wbmcAABgAAAABBgAABAAAABQAAAAoAAAAOAAA
			AFAAAABoAAAACAAAAAQDAACgmAAAAAAAAAgAAAAEAwAAfHsIAAAA
			AAAIAAAABAMAAGzjhQAAAAAACAAAAAQDAACNKDgFAAAAAAgAAAAE
			AwAAyIc4BQAAAAAIAAAABAMAAL5yPgUAAAAAGAAAAAEGAACcAAAA
			rAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEG3jYFNAAAAGAAA
			AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQA
			AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQI
			AAAABAMAAACAgT10AAAACAAAAAAEAABBs3IGJAAAACQAAAABAQAA
			MUE3NTlDNjktRjIzMi0zQTFBLTlBQzMtNEZBREMxNjZCNERGGAAA
			AAECAACBAAAAAQAIAO8/AAABAAgAAAAAAAAAAAABAAAAAQEAAC8A
			AAAAAAAAAQUAAAQAAAADAwAAAAkAKMAAAAD+////AQAAAAAAAAAP
			AAAABBAAAHwAAAAAAAAABRAAAPwAAAAAAAAAEBAAACwBAAAAAAAA
			QBAAABwBAAAAAAAAAiAAAOgBAAAAAAAAECAAAGgBAAAAAAAAESAA
			AJwBAAAAAAAAEiAAAHwBAAAAAAAAEyAAAIwBAAAAAAAAICAAAMgB
			AAAAAAAAMCAAAPQBAAAAAAAAAcAAAEwBAAAAAAAAEcAAABQAAAAA
			AAAAEsAAAFwBAAAAAAAAENAAAPwBAAAAAAAA
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-07-10T11:48:46Z</date>
			<key>fileSize</key>
			<integer>2589</integer>
			<key>md5</key>
			<string>4896EFFCBC4F65763A762845C045C5A9</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/veronicaleon/Dropbox/Fall Protection/Fall Restraint/left1.png</string>
			<key>resourceName</key>
			<string>left1.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9vawADAAAAAAQQMAAAAIcSee3Xk1gGs0/aX23cCoOED99bNblQ
			XY2nn/+a8x4ICAIAAAUAAAABAQAAVXNlcnMAAAAMAAAAAQEAAHZl
			cm9uaWNhbGVvbgcAAAABAQAARHJvcGJveAAPAAAAAQEAAEZhbGwg
			UHJvdGVjdGlvbgAOAAAAAQEAAEZhbGwgUmVzdHJhaW50AAAJAAAA
			AQEAAGxlZnQxLnBuZwAAABgAAAABBgAABAAAABQAAAAoAAAAOAAA
			AFAAAABoAAAACAAAAAQDAACgmAAAAAAAAAgAAAAEAwAAfHsIAAAA
			AAAIAAAABAMAAGzjhQAAAAAACAAAAAQDAACNKDgFAAAAAAgAAAAE
			AwAAyIc4BQAAAAAIAAAABAMAAPByPgUAAAAAGAAAAAEGAACcAAAA
			rAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEG3jYGeAAAAGAAA
			AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQA
			AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQI
			AAAABAMAAACAgT10AAAACAAAAAAEAABBs3IGJAAAACQAAAABAQAA
			MUE3NTlDNjktRjIzMi0zQTFBLTlBQzMtNEZBREMxNjZCNERGGAAA
			AAECAACBAAAAAQAIAO8/AAABAAgAAAAAAAAAAAABAAAAAQEAAC8A
			AAAAAAAAAQUAAAQAAAADAwAAAAkAKMAAAAD+////AQAAAAAAAAAP
			AAAABBAAAHwAAAAAAAAABRAAAPwAAAAAAAAAEBAAACwBAAAAAAAA
			QBAAABwBAAAAAAAAAiAAAOgBAAAAAAAAECAAAGgBAAAAAAAAESAA
			AJwBAAAAAAAAEiAAAHwBAAAAAAAAEyAAAIwBAAAAAAAAICAAAMgB
			AAAAAAAAMCAAAPQBAAAAAAAAAcAAAEwBAAAAAAAAEcAAABQAAAAA
			AAAAEsAAAFwBAAAAAAAAENAAAPwBAAAAAAAA
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-07-10T11:11:23Z</date>
			<key>fileSize</key>
			<integer>2525</integer>
			<key>md5</key>
			<string>C7C847959A0E2F11F8081C81109F4203</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/veronicaleon/Dropbox/Fall Protection/Fall Restraint/right2.png</string>
			<key>resourceName</key>
			<string>right2.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9vawADAAAAAAQQMAAAABDuuIbwYrtEqjhl/VGI8igeM6dM2TaT
			vJNrXtXKr5ZRCAIAAAUAAAABAQAAVXNlcnMAAAAMAAAAAQEAAHZl
			cm9uaWNhbGVvbgcAAAABAQAARHJvcGJveAAPAAAAAQEAAEZhbGwg
			UHJvdGVjdGlvbgAOAAAAAQEAAEZhbGwgUmVzdHJhaW50AAAKAAAA
			AQEAAHJpZ2h0Mi5wbmcAABgAAAABBgAABAAAABQAAAAoAAAAOAAA
			AFAAAABoAAAACAAAAAQDAACgmAAAAAAAAAgAAAAEAwAAfHsIAAAA
			AAAIAAAABAMAAGzjhQAAAAAACAAAAAQDAACNKDgFAAAAAAgAAAAE
			AwAAyIc4BQAAAAAIAAAABAMAAMRcPgUAAAAAGAAAAAEGAACcAAAA
			rAAAALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEG3jXjbAAAAGAAA
			AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAQA
			AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQI
			AAAABAMAAACAgT10AAAACAAAAAAEAABBs3IGJAAAACQAAAABAQAA
			MUE3NTlDNjktRjIzMi0zQTFBLTlBQzMtNEZBREMxNjZCNERGGAAA
			AAECAACBAAAAAQAIAO8/AAABAAgAAAAAAAAAAAABAAAAAQEAAC8A
			AAAAAAAAAQUAAAQAAAADAwAAAAkAKMAAAAD+////AQAAAAAAAAAP
			AAAABBAAAHwAAAAAAAAABRAAAPwAAAAAAAAAEBAAACwBAAAAAAAA
			QBAAABwBAAAAAAAAAiAAAOgBAAAAAAAAECAAAGgBAAAAAAAAESAA
			AJwBAAAAAAAAEiAAAHwBAAAAAAAAEyAAAIwBAAAAAAAAICAAAMgB
			AAAAAAAAMCAAAPQBAAAAAAAAAcAAAEwBAAAAAAAAEcAAABQAAAAA
			AAAAEsAAAFwBAAAAAAAAENAAAPwBAAAAAAAA
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
		<dict>
			<key>fileModificationDate</key>
			<date>2013-07-08T12:23:03Z</date>
			<key>fileSize</key>
			<integer>2294</integer>
			<key>md5</key>
			<string>A8807E97D618F681E693C83E749630E9</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/veronicaleon/Dropbox/Fall Protection/Fall Restraint/edge.png</string>
			<key>resourceName</key>
			<string>edge.png</string>
			<key>securityScopedBookmark</key>
			<data>
			Ym9va/wCAAAAAAQQMAAAAITJaiT42ecrJqwVkNLR09t0VlBBBEP9
			k10sLPa+P+dFBAIAAAUAAAABAQAAVXNlcnMAAAAMAAAAAQEAAHZl
			cm9uaWNhbGVvbgcAAAABAQAARHJvcGJveAAPAAAAAQEAAEZhbGwg
			UHJvdGVjdGlvbgAOAAAAAQEAAEZhbGwgUmVzdHJhaW50AAAIAAAA
			AQEAAGVkZ2UucG5nGAAAAAEGAAAEAAAAFAAAACgAAAA4AAAAUAAA
			AGgAAAAIAAAABAMAAKCYAAAAAAAACAAAAAQDAAB8ewgAAAAAAAgA
			AAAEAwAAbOOFAAAAAAAIAAAABAMAAI0oOAUAAAAACAAAAAQDAADI
			hzgFAAAAAAgAAAAEAwAANIs4BQAAAAAYAAAAAQYAAJgAAACoAAAA
			uAAAAMgAAADYAAAA6AAAAAgAAAAABAAAQbeK5qcAAAAYAAAAAQIA
			AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAA
			AAAEAAAAAwMAAPUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
			AwAAAICBPXQAAAAIAAAAAAQAAEGzcgYkAAAAJAAAAAEBAAAxQTc1
			OUM2OS1GMjMyLTNBMUEtOUFDMy00RkFEQzE2NkI0REYYAAAAAQIA
			AIEAAAABAAgA7z8AAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
			AAABBQAABAAAAAMDAAAACQAowAAAAP7///8BAAAAAAAAAA8AAAAE
			EAAAeAAAAAAAAAAFEAAA+AAAAAAAAAAQEAAAKAEAAAAAAABAEAAA
			GAEAAAAAAAACIAAA5AEAAAAAAAAQIAAAZAEAAAAAAAARIAAAmAEA
			AAAAAAASIAAAeAEAAAAAAAATIAAAiAEAAAAAAAAgIAAAxAEAAAAA
			AAAwIAAA8AEAAAAAAAABwAAASAEAAAAAAAARwAAAFAAAAAAAAAAS
			wAAAWAEAAAAAAAAQ0AAA+AEAAAAAAAA=
			</data>
			<key>shouldIncludeInDocumentHeadHTML</key>
			<false/>
			<key>shouldPreload</key>
			<true/>
			<key>shouldRemoveWhenNoLongerReferenced</key>
			<true/>
			<key>type</key>
			<string>FileResource</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{275, 200}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>lastUserSelectedTimingFunction</key>
				<string>instant</string>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>1.6666667461395264</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1172, 440}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>2</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>background</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.375</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>background.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>salute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.375</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>salute.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>1.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>4</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>right1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.375</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>right1.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>3</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>5</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>left1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.375</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>left1.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>6</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>right2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.375</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>right2.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>5</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>7</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>edge</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.375</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>edge.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>200px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>275px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>6</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
				</dict>
				<key>onSceneTimelineCompleteActions</key>
				<array>
					<dict>
						<key>sceneSymbol</key>
						<integer>3</integer>
						<key>transition</key>
						<integer>1</integer>
						<key>type</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>1.0333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>02D3DA51-292E-4677-AD61-668B9CF41A41-13243-0002714820B61BD5</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.0333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>D7F8C1F9-5D5C-4663-88AB-2371C7AE3DF8-13243-00027149508195F9</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>5</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>03BFE034-6A18-4BC2-8AC4-DA5EC36C0FE8-13243-0002714CF1E557B9</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>2</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>6</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>0B28F6D7-3AA2-48B1-A877-09CD2644DCE7-13243-0002714F81A9BE37</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>2.5333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C14B5718-5B33-4A61-8126-872DD29F08E5-13243-00027153CD3D2B79</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.0333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>43D59457-9E15-4AEF-A4C8-5221291DCBAE-13243-0002714820BDFE97</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.46666669845581055</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>1.0333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>3347E344-12C0-47E6-8135-E388149027DF-13243-00027149508C4E92</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>5</string>
								<key>startTime</key>
								<real>1.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>5E344F90-0FC2-4882-A368-32FED2B354A7-13243-0002714CF1EE6567</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>1.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>DFDDDD92-0CDE-462E-8C0E-214EDB841F43-13243-0002714B96BA63E1</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.53333330154418945</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>6</string>
								<key>startTime</key>
								<real>2</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>6AAE3B21-942D-4FCB-92BE-7BAE1A9B265F-13243-0002714F81B05125</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>5</string>
								<key>startTime</key>
								<real>2</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>118ECC92-F614-49B7-8C86-47EB74A293AE-13243-0002714E721CE9A8</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.96666669845581055</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>2.5333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>instant</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>02D00234-A519-4F22-889B-F62BAA69176B-13243-00027153CD46CB65</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>6</string>
								<key>startTime</key>
								<real>2.5333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>E5C8C149-3A63-41BB-90A8-8895F1B56367-13243-00027150D2EB7DA0</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>3.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>6FB98321-3515-46C6-B3C8-6ED0103AB8E4-13243-000271559E4E163D</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array/>
			<key>showTimelineActions</key>
			<false/>
			<key>splitHeight</key>
			<real>440</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
